body, html {
    background-color: #f6f6f6;
}

#painting {
    background-image: url(../images/gray-canvas.png);
    width: 960px;
    height: 540px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 0px #8d8d8d;
}

#karlie {
    width: 470px;
    height: 540px;
    float: right;
}

#top-box,#logo,#be-brilliant{
    width: 490px;
}

#top-box{
    height: 70px;
}

#logo{
    height: 150px;
}

#be-brilliant{
    height: 50px;
    color: white;
    text-align: center;
    font-family: "Trebuchet MS", "Helvetica", sans-serif;
}

#left-column-bottom-row{
    height: 200px;
    width: 490px;
}

.bottom-box, #text-box{
    height: 200px;
}

.bottom-box{
    width: 35px;
    float: left;
}

#text-box{
    width: 420px;
    text-align: center;
    color: white;
    font-family: "Trebuchet MS", "Helvetica", sans-serif;
    float: left;
}

a { color: inherit; 
}